<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= student.string %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= student.description %>
  </p>

</div>
